<footer>
    <div class="wrapper">

        <section class="boxes">



            <section class="about">
                <h1>
                    <a href="about">About us</a>
                </h1>
                <p>
                    Coalition for Positive Impact (CPI) is<br> a Non-Governmental nonprofit organization.
                    <br>Email: <a href="mailto:info@cpimpact.org" target="_blank">info@cpimpact.org</a>

                </p>




            </section>
            <section class="mission">
                <h1>
                    <a href="about">MISSION</a>

                </h1>
                <p>
                    To assist young people to attain personal development in leadership and entrepreneurship.

                </p>
            </section>

            <section class="gallary">
                <h3>
                    <a href="gallary">Gallery</a> </h3>
                <img src="pic34.jpg" alt="">
                <img src="pic19.jpg" alt="">
                <img src="pic2.jpg" alt="">
                <img src="pic25.jpg" alt="">



            </section>


        </section>


        <div class="min-description">
            <p style="font-size: small;">
                <a class="fa fa-phone" style="font-size: large; color: whitesmoke;" href="https://wa.me/233243997155" target="_blank">
                </a> : +233 54 4766 215 OR <br>+233 20 3610459</p>


            </p>
            <p>
                <a class="fa fa-whatsapp" style="font-size: large; color: whitesmoke;" href="https://wa.me/233243997155" target="_blank">
                </a> : +233 24 399 7155
            </p>

            <p>
                CPImpact &copy; 2020 developed by Coded Studios
            </p>
        </div>
    </div>

</footer>