<footer>
    <div class="wrapper">

        <section class="boxes">



            <section class="about">
                <h1>
                    <a href="about">About us</a>
                </h1>
                <p>
                    Coalition for Positive Impact (CPI) is<br> a Non-Governmental nonprofit organization that is focused on
                </p>

            </section>
            <section class="mission">
                <h1>
                    <a href="about">MISSION</a>

                </h1>
                <p>
                    To assist young people to attain personal development in leadership and entrepreneurship.

                </p>
            </section>

            <section class="gallary">
                <h3>
                    <a href="gallary">Gallary</a> </h3>
                <img src="pic34.jpg" alt="">
                <img src="pic19.jpg" alt="">
                <img src="pic2.jpg" alt="">
                <img src="pic25.jpg" alt="">



            </section>

        </section>


        <div class="min-description">
            <p>
                CPImact &copy; 2020 developed by CodedStudios
            </p>
        </div>
    </div>

</footer>