<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00a54f;">
    <a class="navbar-brand" href="">
        <img id="img-nav" src="/logo.jpeg" width="50vw" height="50vh" alt="logo of organization homepage" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggnav" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="toggnav">
        <ul class="navbar-nav mr-auto" id="nav-bar">
            <li class="nav-item">
                <a class="nav-link" href="/" style="color: aliceblue;"> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about" style="color: aliceblue;"> About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="team-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
                    Team</a>
                <div class="dropdown-menu" aria-labelledby="team-drop">
                    <a class="dropdown-item" href="board">Board of Directors</a>
                    <a class="dropdown-item" href="management">Our Team</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallary" style="color: aliceblue;">
                    Gallery</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="news" style="color: aliceblue;">
                    News</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="donate" style="color: aliceblue;"> Donate</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contact" style="color: aliceblue;"> Contact Us</a>
            </li>
        </ul>

        <!-- <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: aliceblue;">
        Search
      </button>
        </form> -->
    </div>
</nav>