<div class="navbar-nav top-all">
    <div id="top-con">
        <div id="top-inner">
            <div id="top-text">
                <h2 class="top-h2"> info@cpimpact.org</h2>

                <!-- coalitioni18@gmail.com -->
            </div>

            <div id="top-social">
                <ul class="top-ul">
                    <li class="top-li">
                        <a class="fa fa-twitter" href="https://twitter.com/coalitionforpo1/status/1092741889030320133?s=21" target="_blank"></a>
                    </li>
                    <li class="top-li">
                        <a class="fa fa-facebook" href="https://www.facebook.com/CPI2018/" target="_blank"></a>
                    </li>
                    <li class="top-li">
                        <a class="fa fa-instagram" href="https://www.instagram.com/p/B7Tr-3LFUXC/?igshid=1a5fqu7udulen" target="_blank"></a>
                    </li>
                    <li class="top-li">
                        <a class="fa fa-whatsapp" href="https://wa.me/233209780338" target="_blank"></a>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</div>