<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="content">


                    <h1>
                        About us
                    </h1>
                    <p>
                        Coalition for Positive Impact (CPI) is a Non-Governmental nonprofit organization that is focused on
                    </p>
                    <p>
                        Making Africa a hub for the effective development of young leaders and entrepreneurs. We are committed to empowering and assisting young people in the most deprived regions and communities of Africa through innovation, mentorship, and technology. We invest
                        in and assist young entrepreneurs to develop their enterprises and/or organizations, therefore causing them to combat poverty and puzzle out the youth unemployment challenge of Africa.

                    </p>

                    <p>

                        Our approach is unique and tested to provide desirable results; we concentrate on one region at a time, making sure we see real results before moving to another region that equally needs our services. To make Africa a Hub for the effective development
                        of Young Leaders and Entrepreneurs
                    </p>



                    <h3>
                        MISSION
                    </h3>
                    <p>
                        To assist young people to attain personal development in leadership and entrepreneurship.
                    </p>

                    <h3>
                        OUR GOALS
                    </h3>
                    <ul>
                        <li>To educate, train and groom young Africans for leadership, higher education and the world of work, including life management skills</li>
                        <li>To reduce unemployment rate among young people in Africa </li>
                        <li>To assist young Africans in discovering their potentials for career and personal development. </li>
                        <li>To create an active ecosystem of effective young leaders and entrepreneurs within Africa</li>
                        <li>To create equal and equitable opportunities for growth and development for all young people within Africa </li>

                    </ul>
                    <p> Our goal within the next decade is to raise and develop 1000 effective leaders and entrepreneurs in Ghana. By producing effective young leaders and entrepreneurs, we are creating more jobs, reducing poverty, solving the leadership
                        crisis, preparing the youth for the future of work and reducing crime and unemployment rates.
                    </p>

                    <h3>
                        ACHIEVEMENTS

                    </h3>
                    <p>
                        CPI has worked in Ghana, for almost 2 years now, investing in, developing mentoring young people in the country to create a sustainable, fruitful future for the youth and people of the country. So far, our work has been focused in the Upper West Region
                        (consisting 11 districts and a total population of about 849k people). CPI has managed to directly and indirectly impact the lives of over 500 young people through our annual Igniting Dreams program. We have also sponsored 5 young
                        entrepreneurs with cash prizes (amounting to GHS6,000.00) through our Igniting Dreams Prize, to support and assist them to scale their businesses. CPI has equally designed a WEBNAR series where those young people who took part
                        in business pitches during IGNITING DREAMS get the chance to speak to well established individuals within and out the country as well tap knowledge from renowned business men and women in and outside the country.


                    </p>


                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
                    <script src="" async defer></script>
    </body>

</html>