<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="content">


                    <h1>
                        About us
                    </h1>
                    <p>
                        Coalition for Positive Impact (CPI) is a Non-Governmental nonprofit organization that is focused on making Africa a hub for the effective development of young leaders and entrepreneurs. We are committed to empowering and assisting young people in the
                        most deprived regions and communities of Africa through innovation, mentorship, and technology. We invest in and assist young entrepreneurs to develop their enterprises and/or organizations, therefore causing them to combat poverty
                        and puzzle out the youth unemployment challenge of Africa. Our approach is unique and tested to provide desirable results; we concentrate on one country at a time, making sure we see real results before moving to another country
                        that equally needs our services.

                    </p>

                    <p>CPI has worked in Ghana -Africa for almost 2 years now, investing in, developing and mentoring young people in the country to create a sustainable, promising future for the youth and people of the country. So far, our work has been
                        focused in the Upper West Region of Ghana (consisting 11 districts and a total population of about 849,000 people). CPI has managed to directly and indirectly impact the lives of over 500 young people through our annual Igniting
                        Dreams program. We have also sponsored 5 young entrepreneurs with cash prizes through our Igniting Dreams Prize, to support and assist them to scale their businesses. Our goal within the next decade is to raise and develop 1000
                        effective leaders and entrepreneurs in Ghana (where we are currently directly working). By producing effective young leaders and entrepreneurs, we are creating more jobs, reducing poverty, bridging the leadership gap, preparing
                        the youth for the future of work and reducing crime and unemployment rates. </p>
                    <p>According to the World Bank, 11 million young Africans are entering the job force every year. Meanwhile, the formal sector only creates jobs for 3.7 million people, leaving a deficit of about 7 million+ others in search of jobs. An
                        estimated 67% of African youth are unemployed or underemployed. Yet, Africa’s youth is expected to double, reaching 830 million by the year 2050. According to Statista, Youth unemployment rate in Ghana by the year 2019 was 9.16%,
                        a significant increase of 0.37% from the past year. Research has also revealed that Youth unemployment is associated with high levels of crime, violence, substance abuse, and the rise of political extremism. In Ghana, the widely
                        known employment open to young men is the informal sector. For unemployed young women, the danger of lurking in the sex industry is widespread. Youth development leads to employment, which is very effective in reducing crime. A
                        survey conducted by Sangu Delle, to determine the pertinent challenges faced by African entrepreneurs also revealed that 1 out of every 3 entrepreneurs in Africa lament the lack of quality human resource. </p>
                    <p>CPI’s strategy is simple: We first conduct a research to evaluate the quality of young people within the communities under our region of operation. We then identify the common challenges that the youth of these communities face, we
                        assess, examine and align them according to the demands of the future of work, come up with amazing ideas on how to guide them to turn these challenges into opportunities. Finally, we execute these ideas. </p>



                    <h3>
                        MISSION
                    </h3>
                    <p>
                        To assist young people to attain personal development in leadership and entrepreneurship.
                    </p>

                    <h3>
                        OUR GOALS
                    </h3>
                    <ul>
                        <li>To educate, train and groom young Africans for leadership, higher education and the world of work, including life management skills</li>
                        <li>To reduce unemployment rate among young people in Africa </li>
                        <li>To assist young Africans in discovering their potentials for career and personal development. </li>
                        <li>To create an active ecosystem of effective young leaders and entrepreneurs within Africa</li>
                        <li>To create equal and equitable opportunities for growth and development for all young people within Africa </li>

                    </ul>
                    <p> Our goal within the next decade is to raise and develop 1000 effective leaders and entrepreneurs in Ghana. By producing effective young leaders and entrepreneurs, we are creating more jobs, reducing poverty, solving the leadership
                        crisis, preparing the youth for the future of work and reducing crime and unemployment rates.
                    </p>

                    <h3>
                        OUR APPROACH

                    </h3>
                    <p>
                        We first conduct a research to evaluate the quality of young people within the communities under our region of operation. We then identify the common challenges that the youth of these communities face, we assess, examine and align them (the challenges)
                        according to the demands of the future of work, come up with sustainable ideas on how to guide them to turn these challenges into opportunities. Finally, we execute these ideas.

                    </p>


                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
                    <script src="" async defer></script>
    </body>

</html>