<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                <div class="team-list content">
                    <table>
                        <tr>
                            <th>Names</th>
                            <th>Positions</th>
                            <th>Contacts</th>
                        </tr>
                        <tr>
                            <td> Bayuoni Dramani Maazu </td>
                            <td> Executive Director</td>
                            <td> 0209780338</td>

                        </tr>

                        <tr>
                            <td>Naziha Amin Gombilla</td>
                            <td>Personal Assistant of Executive Director</td>
                            <td>0558364350</td>
                        </tr>

                        <tr>
                            <td>Nuhu Isam </td>
                            <td>Director of Operations (VP)</td>
                            <td>05454766215</td>

                        </tr>

                        <tr>
                            <td>Dimbie Abdul Manan</td>
                            <td>Assistant Director of Administration and Public Relations</td>
                            <td>0543610283</td>
                        </tr>

                        <tr>
                            <td>Alhassan Niamatu
                            </td>
                            <td>Assistant Director of Administration and Public Relations</td>
                            <td>0559712008</td>
                        </tr>

                        <tr>
                            <td>Mohammed Shaban</td>
                            <td>Assistant Director of Development</td>
                            <td>0209811090</td>
                        </tr>

                        <tr>
                            <td>Mohamed Ibrahim Adle </td>
                            <td>Director of Finance</td>
                            <td>0503944984</td>
                        </tr>

                        <tr>
                            <td>Issahaku Mohammed </td>
                            <td>Assistant Director of Development</td>
                            <td>0206180494</td>
                        </tr>





                    </table>

                </div>
                <%- include("./partials/footer") %>
    </body>

</html>