<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                <div class="team-con">
                    <h1>MEET THE BOARD</h1>
                    <hr color="green">
                    <div class="team-bio content">
                        <img src="bio_b1.png" alt="MAAZU DRAMANI BAYUONI" class="team-img" width="130px" height="150px" style="border-radius: 10px;">
                        <h3> Edem Baeta</h3>
                        <h5>Managing Partner</h5>
                        <address>
                <cite>One Africa Concierge Management B 101 Church Street Crescent North Labone- Accra

                    <br> Tel: +233-24-335-8869
                    <br> E-mail: edem.baeta@oneafricaconcierge.com </cite>
            </address>
                        <p style="margin-bottom: auto;">Edem Baeta has over 15 years of corporate travel experience as an Operations Manager for Expertravel & Tours Ltd and is currently a Managing Partner for One Africa Concierge. An Economics graduate from the University of Leicester
                            (UK) with a Post Graduate Certificate in Travel Agency Management from West London College (UK), Edem has an excellent understanding of implementing systems and processes to drive efficiency as well as adding value to the provision
                            of service delivery within the airline, travel, events and hospitality industry in Accra, Ghana. Having started out as a Customer Service Advisor with Virgin Atlantic Airways at Heathrow Airport (UK), Edem developed multi-tasking
                            skills by working simultaneously with numerous client related enquiries which included mediating problems to find solutions whilst maintaining professionalism at all times.
                        </p>
                        <p style="margin-bottom: auto;"> Edem holds various managerial and leadership certification in addition to Standard Operations, Kaizen & Business Data Analytics and has been responsible for devising quality control systems that govern client service delivery as
                            well as analysing management information systems (MIS) reports to identify clients’ savings in order to meet the key deliverables as a Travel Management Consultant. Edem holds various managerial and leadership certification
                            in addition to Standard Operations, Kaizen & Business Data Analytics and has been responsible for devising quality control systems that govern client service delivery as well as analysing management information systems (MIS)
                            reports to identify clients’ savings in order to meet the key deliverables as a Travel Management Consultant.
                        </p>
                        <p> An aviation geek with an eye for detail and a passion for first class service delivery, Edem has also managed a General Sales Agent (GSA) for a West African Low Cost Carrier Airline as a Commercial Director in Accra, Ghana in addition
                            to conducting training in Radixx, Farelogix, Amadeus and Travelport Global Distribution systems.
                        </p>

                        <img src="bio_b2.jpeg" alt="Banguu Delle" class="team-img" width="130px" height="150px" style="border-radius: 10px;">
                        <h3>Banguu Delle</h3>
                        <h5>Chief Growth Officer, Africa Health Holdings (AHH)</h5>
                        <p>
                            Banguu Delle is the Chief Growth Officer of Africa Health Holdings (AHH) and oversees growth across all 20 healthcare facilities in Ghana and Nigeria. He is also responsible for expansions into new markets. Banguu’s role extends to building and nurturing
                            relationships and partnership between AHH, its stakeholder companies and individuals. Banguu has extensive experience in operations, investment and general business management, all of which were developed from his many engagements
                            from the past. Banguu also served as the Chief Operations Officer for Golden Palm Investments Corporation, where he oversaw and managed the company’s operations in Africa. He headed the company’s Healthcare and Agribusiness
                            divisions. He has previously worked at the National Bank of Canada and Altamira Investment Services where he was responsible for managing a CAD$50 million portfolio. Banguu is on the boards of Golden Palm Real Estate, Golden
                            Palm Financial Services, Rabito Health Services and cleanacwa. He graduated from the University of Regina in Finance and International Economics. He has certificates in Canadian Securities and Professional Financial Planning
                            from the Canadian Securities Institution in Toronto. As well as fundamental of finance and financial markets from the Ghana Stock Exchange. He has executive certificate in Fundamentals of Business from Harvard Business School.
                            Currently completing an executive MBA from London School of International Business.

                        </p>


                        <img src="bio6.jpg" alt="MAAZU DRAMANI BAYUONI" class="team-img" width="130px" height="150px" style="border-radius: 10px;">
                        <h3>MAAZU DRAMANI BAYUONI </h3>
                        <p>
                            Maazu Bayuoni is a Social Entrepreneur, Youth Leader, Poet and Spoken Word Artiste. A son to a teacher and a petty trader, Maazu was born and raised in Tumu, in the Upper West Region of Ghana; a region fraught with countless challenges such as adverse
                            poverty, youth unemployment and poor economic conditions. At the age of 17, Maazu realized how tractable these challenges were and made a conviction to resolve them. Convinced that the real needs of his community could best
                            be met through investing in young people and transforming them into effective leaders and entrepreneurs, he established CPI -to raise, invest in and assist young entrepreneurs to develop their enterprises and/or organizations,
                            therefore creating jobs and alleviating poverty. Maazu has received several accolades for his works including;


                            <ul style="list-style: square;">
                                <li>Named one of the ‘4 most influential young people in the Upper West Region in 2020’
                                </li>
                                <li>Nominated by Commonwealth Hall of the University of Ghana for the ‘Apeadu Baiden Koomson Award for Best public-spirited student of the Hall in 2019’</li>
                                <li>Selected as a 2019 MIT Global Startup Labs Fellow</li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’
                                </li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’
                                </li>
                                <li>Honored by Pentasi B as a ‘World Poet Laureate in 2018’</li>
                            </ul>
                            Maazu graduated from the University of Ghana (UG) with a B.A (Hons) in Philosophy and Political Science. At UG, he was a very zealous student leader and activist. Maazu served as President of both the Northern and Upper West Students Unions. He was also
                            the Deputy Minority Leader of the University of Ghana Parliament House as well as a General Assembly Member of the Student Representative Council.

                        </p>


                    </div>





                </div>
                <%- include("./partials/footer") %>
    </body>

</html>