<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>

                <div class="news-body" style="justify-content: center; align-content: center;">
                    <h1>Contact Us:</h1>
                    <p>
                        <a class="fa fa-map-marker" style="font-size: xx-large; color: rgb(226, 61, 116);" href="https://wa.me/233243997155" target="_blank">
                        </a> Wa, Upper West Region, Ghana</p>
                    <p>
                        <a class="fa fa-phone" style="font-size: xx-large; color:rgb(226, 61, 116);" href="https://wa.me/233243997155" target="_blank">
                        </a>: +233 54 4766 215 OR <br>+233 20 3610459</p>
                    <p>
                        <a class="fa fa-whatsapp" style="font-size: xx-large; color: rgb(226, 61, 116);" href="https://wa.me/233243997155" target="_blank">
                        </a> : +233 24 399 7155

                    </p>
                    <p>
                        <a class="fa fa-envelope" style="font-size: xx-large; color: rgb(226, 61, 116);" href="https://wa.me/233243997155" target="_blank">
                        </a><a href="mailto:info@cpimpact.org" target="_blank"> : info@cpimpact.org</a></p>


                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
    </body>

</html>