<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="donate-body">
                    <h1>Content under construction. But you can still reach out to us to support our work. Our Mobile money details are below for anonymous donors. </h1>
                    <p>
                        <h4 style="color: rgb(165, 40, 40);">Vodafone cash: </h4>
                        <table>
                            <tr>
                                <th>Number</th>
                                <th>Account Name</th>

                            </tr>
                            <tr>
                                <td>050 505 5881 </td>
                                <td>Coalition for Positive Impact </td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <h4 style="color: rgb(141, 141, 9);">MTN Mobile Money: </h4>
                        <table>
                            <tr>
                                <th>Number</th>
                                <th>Account Name</th>

                            </tr>
                            <tr>
                                <td>059 586 0106 </td>
                                <td>Coalition for Positive Impact </td>
                            </tr>
                        </table>
                    </p>

                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
    </body>

</html>