<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
                <!-- wrapper start -->
                <div class="wrapper">
                    <section class="top-container">
                        <header class="showcase" id="showimg">
                            <h1>WHO ARE WE? </h1>

                            <p>Coalition for Positive Impact (CPI) is a youth-led nonprofit NGO that is focused on making Africa a hub for the effective development of young leaders and entrepreneurs. We are committed to empowering and developing young leaders
                                in rural Africa through innovation, mentorship, and technology. CPI’s philosophy is simple; the real needs of Africa can be best met through supporting and investing in the ideas and aspirations of its greatest asset -Young
                                People. </p>
                            <a href="about" class="btn">Read More</a>


                        </header>

                        <div class="top-box top-box-a">
                            <h4>PARTNERS</h4>
                            <hr style="margin: 0rem; width: 8rem; color: green;">
                            <ul style="list-style: square;">
                                <li>
                                    <h5>Golden Palm Investments</h5>

                                    <a href="https://www.gpalminvestments.com" target="_blank"> <img src="goldenpam.jpg" alt="Golden Palm Investments" style="width: 100px; height: 50px;"></a>
                                </li>
                                <li>
                                    <h5>Mydafoods</h5>
                                    <a href="http://www.mydafoodsgh.com" target="_blank"><img src="food.jpg" alt="Golden Palm Investments" style="width: 100px; height: 50px;"></a>
                                </li>

                            </ul>
                            <a href="mailto:info@cpimpact.org" target="_blank" class="btn">Partner</a>
                        </div>

                        <div class="top-box top-box-b">
                            <h4>JOIN US</h4>
                            <hr style="margin: 0rem; width: 8rem; color: green;">

                            <ul style="list-style: none;">
                                <li>
                                    <h5>Join the Team</h5>
                                </li>
                                <a href="mailto:info@cpimpact.org" target="_blank" class="btn">Send CV</a>
                                <li>OR</li>
                                <li>
                                    <h5>Be a Volunteer</h5>
                                </li>
                                <a href="mailto:info@cpimpact.org" target="_blank" class="btn">Send Application</a>

                            </ul>

                        </div>
                    </section>

                    <!-- boxes section :ORGANIZATIONAL VALUES -->
                    <section class="boxes">
                        <div class="box">
                            <h2> ORGANIZATIONAL VALUES:</h2>

                        </div>




                        <div class="box">
                            <i class="fa fa-briefcase" style="font-size:48px;"></i>
                            <h3>Hardwork</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-balance-scale" style="font-size:48px;"></i>
                            <h3>Integrity</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-lightbulb-o" style="font-size:48px;"></i>
                            <h3>Innovation</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-handshake-o" style="font-size:48px;"></i>
                            <h3>Relationships</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-certificate" style="font-size:48px;"></i>
                            <h3>Excellence</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-graduation-cap" style="font-size:48px;"></i>
                            <h3>Discipline</h3>
                        </div>
                    </section>
                    <section class="describ">
                        <div class="d-ach">
                            <h3>VISION</h3>
                            <p>To make Africa a hub for the effective development of young leaders and entrepreneurs
                            </p>

                        </div>
                        <div class="d-ach">




                            <h3>
                                WHAT WE DO

                            </h3>
                            <p>

                                <ul style="list-style: circle;">
                                    <li>We invest in and assist young entrepreneurs to develop their enterprises and/or organizations, therefore creating more jobs and alleviating poverty. We also: </li>
                                    <li>Create opportunities for young people to gain self-development in leadership and entrepreneurship; through Seminars, business sponsorships, masterclasses, vocational trainings, etc.</li>
                                    <li>Create an active Pan-African ecosystem of young leaders and entrepreneurs.
                                    </li>
                                    <li>Assist Young People to create jobs for themselves and others.</li>
                                    <li>Partner with governmental bodies, civil society and other non-profits to contribute to the development of Ghana and Africa at large</li>
                                </ul>


                            </p>
                            <p><a class="btn" href="about">READ MORE</a></p>
                    </section>
                    <div class="init">
                        <h3>
                            INITIATIVES

                        </h3>
                        <p>
                            <ul>
                                <li>Igniting Dreams Seminar</li>
                                <li> Igniting Dreams Prize </li>
                                <li>Igniting Dreams Fellowship </li>
                            </ul>


                        </p>
                    </div>

                    <div class="d-goals">


                        <h3>
                            OUR GOALS
                        </h3>
                        <ul>
                            <li>To educate, train and groom young Africans for leadership, higher education and the world of work, including life management skills </li>
                            <li>To develop 1000 effective leaders and entrepreneurs in Ghana by 2030 </li>
                            <li>To assist young Africans in discovering their potentials for career and personal development
                            </li>
                            <li>To create an active ecosystem of effective young leaders and entrepreneurs within Africa
                            </li>
                            <li>To create an active ecosystem of effective young leaders and entrepreneurs within Africa </li>

                        </ul>
                    </div>

                    <div class="d-ach">
                        <h3>
                            OUR APPROACH

                        </h3>
                        <p>
                            We first conduct a research to evaluate the quality of young people within the communities under our region of operation. We then identify the common challenges that the youth of these communities face, we assess, examine and align them (the challenges)
                            according to the demands of the future of work, come up with sustainable ideas on how to guide them to turn these challenges into opportunities. Finally, we execute these ideas.


                        </p>



                    </div>

                    </section>






                    </div>
                    <!-- wrapper ends -->



                    <%- include("./partials/footer") %>
                        <script src="hom.js"></script>

    </body>

</html>