<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
                <main>
                    <div class="b-container">

                        <div class="hero">


                            <div class="hero-details">
                                <h1>
                                    WHAT CPI IS AND WHAT CPI CAN DO FOR OTHERS.

                                </h1>
                                <p>
                                    Coalition for Positive Impact (CPI) is a Non-Governmental, nonprofit organization that is focused on making Africa a hub for the effective development of young leaders and entrepreneurs. We are committed to empowering and assisting young people in the
                                    most deprived regions and communities of Africa through innovation, mentorship, and technology. We invest in and assist young entrepreneurs to develop their enterprises and/or organizations, therefore causing them to
                                    combat poverty and puzzle out the youth unemployment challenge of Africa. We also assist young people build their leadership and entrepreneurial skills. Our approach is unique and tested to provide desirable results;
                                    we concentrate on one region at a time, making sure we see real results before moving to another region that equally needs our services.


                                </p>


                            </div>
                            <div class="hero-image">
                                <img src="/logo.jpeg" alt="logo of organization">
                            </div>
                        </div>
                    </div>
                </main>


                <%- include("./partials/footer") %>
    </body>

</html>