<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
                <!-- wrapper start -->
                <div class="wrapper">
                    <section class="top-container">
                        <header class="showcase" id="showimg">
                            <h1>WHAT CPI IS AND WHAT CPI CAN DO FOR OTHERS.</h1>
                            <p>Coalition for Positive Impact (CPI) is a Non-Governmental nonprofit organization that is focused on making Africa a hub for the effective development of young leaders and entrepreneurs. We are committed to empowering and assisting
                                young people in the most deprived regions and communities of Africa through innovation, mentorship, and technology.
                            </p>
                            <a href="about" class="btn">Read More</a>


                        </header>

                        <div class="top-box top-box-a">
                            <h4>Sporsors</h4>
                            <ul>
                                <li>MTN</li>
                                <li>Vodafone</li>
                                <li>Tigo</li>
                                <li>NDC</li>
                                <li>NPP</li>
                            </ul>
                            <a href="#" class="btn">Sporsor</a>
                        </div>

                        <div class="top-box top-box-b">
                            <h4>Donations</h4>
                            <ul>
                                <li>MTN</li>
                                <li>Vodafone</li>
                                <li>Tigo</li>
                                <li>NDC</li>
                                <li>NPP</li>
                            </ul>
                            <a href="#" class="btn">Donate Now</a>
                        </div>
                    </section>

                    <!-- boxes section :ORGANIZATIONAL VALUES -->
                    <section class="boxes">
                        <div class="box">
                            <h2> ORGANIZATIONAL VALUES:</h2>

                        </div>


                        <div class="box">
                            <i class="fa fa-briefcase" style="font-size:48px;"></i>
                            <h3>Hardwork</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-balance-scale" style="font-size:48px;"></i>
                            <h3>Integrity</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-lightbulb-o" style="font-size:48px;"></i>
                            <h3>Innovation</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-handshake-o" style="font-size:48px;"></i>
                            <h3>Relationship</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-certificate" style="font-size:48px;"></i>
                            <h3>Excellence</h3>
                        </div>

                        <div class="box">
                            <i class="fa fa-graduation-cap" style="font-size:48px;"></i>
                            <h3>Discipline</h3>
                        </div>
                    </section>


                </div>
                <!-- wrapper ends -->



                <%- include("./partials/footer") %>
                    <script src="hom.js"></script>

    </body>

</html>