<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="content" style="margin-bottom: 20rem;">
                    <h1>Igniting Dreams (ID) Seminar</h1>
                    <hr color=" green">
                    <p>
                        The Igniting dreams seminar is our flagship event that creates a unique opportunity for young people to converge and be empowered, mentored and inspired on a common dais. The event is scheduled to happen on the first Saturday of every new year. The reasoning
                        behind choosing such a date is to ignite the dreams, hopes and aspirations of young people as they are set to begin a new year filled with many bags of plans. Topics discussed on this platform are centered around Business, Innovation
                        and Leadership. So far, the igniting dreams platform has reached and impacted more than 500 young people from the Upper West Region of Ghana. It has caused and propelled some of our beneficiaries to start their own businesses and
                        organizations and to even take up leadership roles. With this event, we have also created a platform for young people to meet and discuss issues pertaining to the economic development of the region.

                    </p>



                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
    </body>

</html>