<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="content">
                    <h1>
                        INITIATIVES


                    </h1>
                    <p>
                        <ul>
                            <li>Igniting Dreams (ID) Seminar: The Igniting dreams seminar is our flagship event that creates a unique opportunity for young people to converge and be empowered, mentored and inspired on a common dais. The event is scheduled
                                to happen on the first Saturday of every new year. The reasoning behind choosing such a date is to ignite the dreams, hopes and aspirations of young people as they are set to begin a new year filled with many bags of plans.
                                Topics discussed on this platform are centered around Business, Innovation and Leadership. So far, the igniting dreams platform has reached and impacted more than 500 young people from the Upper West Region of Ghana. It
                                has caused and propelled some of our beneficiaries to start their own businesses and organizations and to even take up leadership roles. With this event, we have also created a platform for young people to meet and discuss
                                issues pertaining to the economic development of the region.
                            </li>
                            <li>
                                <p>
                                    Igniting Dreams Prize: As part of the Igniting dreams seminar, we award cash prizes to very young entrepreneurs after having taken them through a rigorous process of training. We usually open for applications to the prize. When we receive the proposals,
                                    our team of independent panel sit and consider them. They shortlist five (5) finalists who are then prepared and trained by our tea, of professionals to pitch their businesses on the Igniting Dreams seminar platform.
                                    So far, the prize has supported 5 young entrepreneurs –most of whom have gone ahead to take major steps towards growing their business.

                                </p>
                                <p>
                                    Take for example, Hamza Mabruka (Winner of 2019 Igniting Dreams Prize): After winning the 2019 Igniting Dreams Prize, Mabruka went ahead to register her business with the country authorities and also satisfied all the certifications that were required
                                    of her as an entrepreneur in the food production industry. She proceeded to apply to other available grants, pitched and won them. Today, Mabruka owns her own business farm, a peanut production company as well as a
                                    foundation geared towards mentoring and empowering basic school students in the Wa Municipality. As the organization that provided the first platform for Mabruka to pitch her idea and connect her to a mentor, we are
                                    proud of the feats that she has achieved, thanks to her hard work and of course, our support. As the prize is currently woefully insufficient to support even a quarter of the number of applicants, we are calling on
                                    donors and philanthropists alike to support us to produce more Hamza Mabrukas.

                                </p>
                            </li>
                            <li>Igniting Dreams Fellowship: Finalist of the Igniting Dreams Prize constitute the Igniting Dreams Fellowship. Our fellowship is guided by a team of some of the most influential Business Leaders in Ghana. They are mentored through
                                a series of events and activities where they are taught to be innovative problem solvers. The ID Fellows are usually connected to mentors that directly assist and enable them to grow their organizations. </li>
                        </ul>

                    </p>
                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
    </body>

</html>