<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                <div class="team-con">
                    <h1>MEET THE TEAM</h1>
                    <hr color="green">

                    <div class="team-bio content">
                        <h1> EXECUTIVE DIRECTOR/ PRESIDENT </h1>
                        <hr color="green">

                        <img src="bio6.jpg" alt="MAAZU DRAMANI BAYUONI" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <h3>MAAZU DRAMANI BAYUONI </h3>
                        <p>
                            Maazu Bayuoni is a Social Entrepreneur, Youth Leader, Poet and Spoken Word Artiste. A son to a teacher and a petty trader, Maazu was born and raised in Tumu, in the Upper West Region of Ghana; a region fraught with countless challenges such as adverse
                            poverty, youth unemployment and poor economic conditions. At the age of 17, Maazu realized how tractable these challenges were and made a conviction to resolve them. Convinced that the real needs of his community could best
                            be met through investing in young people and transforming them into effective leaders and entrepreneurs, he established CPI -to raise, invest in and assist young entrepreneurs to develop their enterprises and/or organizations,
                            therefore creating jobs and alleviating poverty. Maazu has received several accolades for his works including;


                            <ul style="list-style: square;">
                                <li>Named one of the ‘4 most influential young people in the Upper West Region in 2020’
                                </li>
                                <li>Nominated by Commonwealth Hall of the University of Ghana for the ‘Apeadu Baiden Koomson Award for Best public-spirited student of the Hall in 2019’</li>
                                <li>Selected as a 2019 MIT Global Startup Labs Fellow</li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’</li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’</li>
                                <li>Honored by Pentasi B as a ‘World Poet Laureate in 2018’</li>
                            </ul>
                            Maazu graduated from the University of Ghana (UG) with a B.A (Hons) in Philosophy and Political Science. At UG, he was a very zealous student leader and activist. Maazu served as President of both the Northern and Upper West Students Unions. He was also
                            the Deputy Minority Leader of the University of Ghana Parliament House as well as a General Assembly Member of the Student Representative Council.

                        </p>
                        <h1>DIRECTOR OF FINANCE </h1>
                        <hr color="green">
                        <h3>IBRAHIM ADLE MUHAMMAD</h3>
                        <img src="bio1.jpg" alt="IBRAHIM ADLE MUHAMMAD" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p>Ibrahim Adle Muhammad is an Entrepreneur, Youth Advocate, Pan-African Optimist and a revolutionist; who is passionate about political architecture and committed to statecraft. Born to a college teacher and a petty trader, Adle
                            hails from Wa, in the Upper West Region of Ghana where he was born and raised. Growing up in a very disadvantaged environment, the challenges of his home region motivated and inspired Adle to dedicate his life to transforming
                            the trajectories of his community. Realizing that the challenges of his community could be best solved through investing in the potentials of young people and transforming them into effective change-makers, Adle co-founded
                            the Coalition for Positive Impact. Adle believes that the development of marginalized young people augmented by scientific innovation is what will usher this economically diseased continent into a new realm of modernity and
                            development. He is a fellow of The Young Politicians and Leaders Network fellowship; a group that is spirited with African unity, African continental politics and democracy, Security, Human rights and Justice, Science and technology.
                            He is also the deputy minority leader of the University of Professional studies student Parliament house. Adle is the Director of Finance of CPI, responsible for the efforts, results, and success of the organizations finance
                            department. He is an Accounting student of the University of Professional Studies, Accra, currently in the penultimate level.

                        </p>
                        <h1>DIRECTOR OF OPERATIONS</h1>
                        <hr color="green">
                        <h3>NUHU ISAM</h3>
                        <img src="bio3.jpg" alt="NUHU ISAM" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p>Nuhu Isam is a professional teacher, Young Positivist and Development Enthusiast. He hails from Wa in the Upper West Region of Ghana, where he grew up attending elementary and junior high school. Isam co-founded the Coalition for
                            Positive Impact in 2018 when he was a second year college student at the Nusrat Jahan Ahmadiyyah (NJA) College of Education. Being witness to a continent that is diseased by a myriad of challenges, notable among them, poverty
                            and youth unemployment, Isam conceptualized the idea of working on a project that will complement the efforts of government as well as contribute to the development of his community. Out of this, he conducted a community research
                            which pointed to the conclusion that supporting young people to establish their own businesses and enterprises is a more sustainable way of creating jobs and alleviating poverty. As a result, Isam joined two others, Maazu and
                            Adle to co-found CPI to support the ideas and capabilities of young people. Isam is a very hard-working young man and brings a lot of energy to the team. He recently finished his studies at the NJA college of education where
                            he obtained a Diploma in Basic Education. While in college, Isam served as the local NUGs President and the Regional NUGs General Secretary for the Upper West Regional NUGs bloc. As Director of Operations, he is responsible
                            for leading and managing a comprehensive array of services and programs.


                        </p>

                        <h1> ADMINISTRATOR/ PUBLIC RELATIONS OFFICER</h1>
                        <hr color="green">
                        <h3>DIMBIE ABDUL MANAN</h3>
                        <img src="bio2.jpg" alt="DIMBIE ABDUL MANAN" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p> Dimbie Abdul Manan is a teacher trainee, youth leader and activist. Manan hails from Wellembele in the Upper West Region of Ghana, but grew up in Wa, his regions capital. Having held several leadership positions from his basic
                            school level through to College, Manan has gained considerable experience in managing people, starting and implementing projects. He joined the team as an Administrator and Public Relations Officer in hindsight of his skills
                            as an effective communicator and public speaker, well noted for winning several debate and public speaking contests. Manan has served as Senior Prefect and Entertainment Prefect in his early stages of education (Junior High
                            and Senior High respectively), and is currently serving as SRC president of Nusrat Jahan Ahmadiyyah college of education, Wa. He is a very passionate young man that believes in the potentials and abilities of young people to
                            catalyze change by creating jobs and employing other young people to reduce unemployment and alleviate poverty. As the Administrator and Public Relations Officer, Manan has managed to build structures and institutions that
                            have improved upon the effectiveness and efficiency of our work at CPI.

                        </p>

                        <h1>EXECUTIVE SECRETARY </h1>
                        <hr color="green">
                        <h3>NAZIHA AMIN GOMBILLA</h3>
                        <img src="bio7.jpg" alt="NAZIHA AMIN GOMBILLA" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p>Naziha Amin Gombilla is an aspiring Lawyer, Social Activist and Philanthropist. She is currently pursuing an LLB at the Faculty of Law of University of Professional Studies. Naziha hails from the Northern Region of Ghana, but grew
                            up in Accra. She is a very passionate change maker and has dedicated herself to make a difference in her society. In the past, Naziha worked with the Mother of all Nations Foundation, a non-profit organization dedicated to
                            catering for needy children in deprived communities. This has enabled her gain valuable experience and skills in the operations of NGOs. Naziha is passionate about Youth Leadership and interested in working in organizations
                            that are focused on bridging Africa's development gap. In 2019, she was a participant of the Young African Leaders Summit organized by the Young Politicians and Leaders Network. She has also held several leadership positions
                            in the past (as a student), all of which have groomed and prepared her for this job. Naziha joined the Coalition for Positive Impact (CPI), as an Executive Secretary to the Executive President/Director to work closely with
                            senior managerial/directorial staff to provide administrative support, usually on a one-to-one basis. She also helps the Executive Director to make the best use of his time by dealing with secretarial and administrative tasks.

                        </p>



                        <h1>
                            ASSISTANT DIRECTOR OF OPERATIONS
                        </h1>
                        <hr color="green">
                        <h3>ALHASSAN NIAMATU</h3>
                        <img src="bio5.jpg" alt="ALHASSAN NIAMATU" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p>Alhassan Niamatu is a Game-changer. She is a Professional Teacher, Gender activist and a futurist. Niamatu hails from Wa in the Upper West Region of Ghana. She is a graduate of the University for Development Studies -Tamale, where
                            she read Early Childhood Care and Education. Niamatu is passionate about female empowerment. Her core interest is working on initiatives that help/assist girls to empower and develop themselves. She is also interested in creating
                            opportunities and developing solutions to problems surrounding her. It is in light of this that Niamatu joined the Organization as a gender secretary. Within a period of one year, she has grown to become the Assistant Director
                            of Operations mandated to assist the Director of Operations in managing the operational task of the Organization whilst setting the pace for more young girls to empower themselves and achieve greater laurels. She is results
                            driven and has worked on several successful projects in the past.

                        </p>



                        <h1>ASSISTANT DIRECTOR OF DEVELOPMENT</h1>
                        <hr color="green">
                        <h3>MOHAMMED SHABAN</h3>
                        <img src="bio4.jpg" alt="MOHAMMED SHABAN" class="team-img" width="130px" height="150px" style="border-radius: 100px;">
                        <p>Mohammed-Shaban Tiehisung Seidu is a Farmer and Youth Positivist. He is an energetic young man, focused on helping organizations grow by providing expert knowledge on fundraising and asset acquisition. As an Assistant Director
                            of Development, Shaban has helped CPI raise funds for its events and has contributed significantly to the success of the organizations fundraising activities. He is passionate about youth development, therefore dedicating his
                            time to supporting young people to empower and develop themselves in areas of leadership and entrepreneurship. Shaban joined the CPI team as an Assistant Director of Development to bring on board his energy, experience and
                            expertise in helping the organization in fundraising for her projects and programs. He is currently a student of the prestigious University of Ghana, Legon where he reads Political Science. Although Shaban is still in school,
                            he spends an adequate amount of time working on CPI activities and making sure the ideas and plans of the team are successfully birthed.

                        </p>


                    </div>
                </div>

                <%- include("./partials/footer") %>
    </body>

</html>