<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>

                <div class="news-body">
                    <h1>Coalition for Positive Impact (CPI) Igniting Dreams 2020</h1>
                    <p><a class="btn" href="http://ghgoonline.com/coalition-for-positive-impact-cpi-igniting-dreams-2020/" target="_blank">READ MORE</a></p>

                </div>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

                <%- include("./partials/footer") %>
    </body>

</html>