<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                <div class="team-con">
                    <h1>Members and Board of Directors</h1>
                    <hr color="green">
                    <div class="team-list content">
                        <table>
                            <tr>
                                <th>Names</th>
                                <th>Positions</th>
                                <th>Contacts</th>
                            </tr>
                            <tr>
                                <td> Bayuoni Dramani Maazu </td>
                                <td> Executive Director</td>
                                <td> 0209780338</td>

                            </tr>

                            <tr>
                                <td>Naziha Amin Gombilla</td>
                                <td>Personal Assistant of Executive Director</td>
                                <td>0558364350</td>
                            </tr>

                            <tr>
                                <td>Nuhu Isam </td>
                                <td>Director of Operations (VP)</td>
                                <td>05454766215</td>

                            </tr>

                            <tr>
                                <td>Dimbie Abdul Manan</td>
                                <td>Assistant Director of Administration and Public Relations</td>
                                <td>0543610283</td>
                            </tr>

                            <tr>
                                <td>Alhassan Niamatu
                                </td>
                                <td>Assistant Director of Administration and Public Relations</td>
                                <td>0559712008</td>
                            </tr>

                            <tr>
                                <td>Mohammed Shaban</td>
                                <td>Assistant Director of Development</td>
                                <td>0209811090</td>
                            </tr>

                            <tr>
                                <td>Mohamed Ibrahim Adle </td>
                                <td>Director of Finance</td>
                                <td>0503944984</td>
                            </tr>

                            <tr>
                                <td>Issahaku Mohammed </td>
                                <td>Assistant Director of Development</td>
                                <td>0206180494</td>
                            </tr>


                            <tr>
                                <td>Mohammed Yussif</td>
                                <td>IT Officer</td>
                                <td>0542460098</td>
                            </tr>


                        </table>

                    </div>
                    <div class="team-bio content">
                        <h1>BIOGRAPHY OF EXECUTIVE DIRECTOR/PRESIDENT </h1>
                        <hr color="green">
                        <h3>MAAZU BAYUONI </h3>
                        <p>
                            Maazu Bayuoni is a Social Entrepreneur, Poet and Spoken Word Artiste. A son to a teacher and a petty trader, Maazu was born and raised in the Upper West Region of Ghana; a region fraught with countless challenges such as low educational standards, adverse
                            poverty, youth unemployment and underemployment and poor economic conditions. At the age of 17, Maazu realized how tractable these challenges were and made a conviction to resolve them. Convinced that the real needs of his
                            community could best be met through investing in young people and transforming them into effective leaders and entrepreneurs, he established a youth development organization in 2018, named, Coalition for Positive Impact (CPI),
                            to raise, invest in and assist young entrepreneurs to develop their enterprises and/or organizations, therefore creating jobs and alleviating poverty. Maazu has received several nominations and awards for his works including;

                            <ul style="list-style: circle;">
                                <li>Named one of the ‘4 most influential young people in the Upper West Region in 2020’
                                </li>
                                <li>Nominated by Commonwealth Hall of the University of Ghana for the ‘Apeadu Baiden Koomson Award for Best public-spirited student of the Hall in 2019’</li>
                                <li>Selected as a 2019 MIT Global Startup Labs Fellow</li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’</li>
                                <li>University of Ghana Student Representative Council’s ‘Creative Personality award in 2019’</li>
                                <li>Honored by Pentasi B as a ‘World Poet Laureate in 2018’</li>
                            </ul>
                            Maazu graduated from the University of Ghana in 2019, where he was a very zealous student leader and activist. As a student, he served as President of both the Northern Union and Upper West Students’ Unions. He was also the Deputy Minority Leader of the
                            University of Ghana Parliament House as well as a General Assembly Member of the Student Representative Council.
                        </p>

                        <h1>BIOGRAPHY OF ADMINISTRATOR/PUBLIC RELATIONS OFFICER</h1>
                        <hr color="green">
                        <h3>DIMBIE ABDUL MANAN</h3>
                        <p>Dimbie Abdul Manan is a teacher trainee, youth leader and activist. Manan hails from Wellembele in the Upper West Region, but grew up in Wa, his region’s capital. Having held several leadership positions from his basic school level
                            through to College, Manan has gained considerable experience in managing people, starting and implementing projects. He joined the team as an Administrator and Public Relations Officer in hindsight of his skills as an effective
                            communicator and public speaker, noted for winning several debates and public speaking contests. Manan served as Senior Prefect and Entertainment Prefect in his early stages of education (Junior High and Senior High respectively),
                            and is currently serving as the SRC president of Nusrat Jahan Ahmadiyyah college of education, Wa. He is a very passionate young man that believes in the potentials and abilities of young people to catalyze change by creating
                            jobs and employing other young people to reduce unemployment and alleviate poverty. While working as an Administrator and Public Relations Officer of CPI, Manan is also currently pursuing a Bachelor of Education Degree in Technical
                            studies and Mathematics. Manan aims to be a change maker in his community.
                        </p>

                        <h1>BIOGRAPHY OF DIRECTOR FINANCE </h1>
                        <hr color="green">
                        <h3>IBRAHIM ADLE MUHAMMAD</h3>
                        <p>Ibrahim Adle Muhammad is an Entrepreneur, Youth Advocate, Pan-African Optimist and a revolutionist; who is passionate about political architecture and committed to statecraft. A son of a college head teacher and a petty trader.
                            Adle hails from the Upper West Region of Ghana where he was born and raised; a region faced with challenges such as adverse poverty, youth unemployment, low educational standards, poor education, poor healthcare systems and
                            harsh economic conditions. The aforementioned challenges motivated and inspired Adle to dedicate his life to transforming the trajectories of his community. Realizing that the needs of his community and region could be achieved
                            through investing in the potentials of the young people and transforming them into young leaders and entrepreneurs, he co-founded a youth development organization in 2018 named, Coalition for Positive Impact(CPI), to invest
                            in young entrepreneurs by helping them to develop their organizations, therefore creating jobs and alleviating poverty. Adle believes the development of marginalized young people augmented by scientific innovation is what will
                            usher this economic diseased continent into a new realm of modernity and development. He is a fellow of The Young Politicians and Leaders Network fellowship; a group that is spirited with African unity, African continental
                            politics and democracy, Security, Human rights and Justice, Science and technology. Adle is currently a level 300 Accounting student of the University of Professional Studies, Accra. He is also the deputy minority leader of
                            the University of Professional studies student Parliament house.
                        </p>

                        <h1>BIOGRAPHY OF DIRECTOR OF OPERATIONS</h1>
                        <hr color="green">
                        <h3>NUHU ISAM</h3>
                        <p>NUHU ISAM Nuhu Isam is a professional teacher, Young Positivist and Development Enthusiast. He hails from Wa in the Upper West Region of Ghana, where grew up attending elementary and junior high school. Isam cofounded the Coalition
                            for Positive Impact in 2018 when he was a final year college student at the Nusrat Jahan Ahmadiyyah (NJA) College of Education. Being witness to a continent that is diseased by a myriad of challenges, notable among them, poverty
                            and youth unemployment, Isam conceptualized the idea of working on a project that will complement the efforts of government as well as contribute to the development of his community. Isam conducted a community research which
                            pointed to the conclusion that supporting young people to establish their own businesses and enterprises is a more sustainable way of creating jobs and alleviating poverty. As a result, he joined two others, Maazu and Adle
                            to cofound CPI; an organization that is dedicated to raising effective leaders and Entrepreneurs in Ghana and Africa as a whole. Isam is a very hard-working young man and brings a lot of energy to the team. He recently completed
                            the NJA college of education where he obtained a Diploma in Basic Education. While in college, he served as the local NUGs President and the Regional NUGs General Secretary for the Upper West Regional NUGs bloc.
                        </p>

                        <h1>
                            BIOGRAPHY OF ASSISTANT ADMINISTRATOR/ PUBLIC RELATIONS OFFICER
                        </h1>
                        <hr color="green">
                        <h3>ALHASSAN NIAMATU</h3>
                        <p>Alhassan Niamatu is a Game-changer. She is a Professional Teacher, Gender activist and a futurist. Niamatu hails from Wa in the Upper West Region of Ghana. She is a graduate of the University for Development Studies -Tamale, where
                            she read Early Childhood Care and Education. Niamatu is passionate about female empowerment. Her core interest is working on initiatives that help/assist girls to empower and develop themselves. She is also interested in creating
                            opportunities and developing solutions to problems surrounding her. It is in the light if these that Niamatu first joined the Organization as a gender secretary. Within a period of one year, she has grown to become the Assistant
                            Director of Operations mandated to assist the Director of Operations in managing the operational task of the Organization, whilst still encouraging many young girls to charter the path of leadership and entrepreneurship. She
                            is results driven and have worked on several successful projects in the past.
                        </p>

                        <h1>BIOGRAPHY OF EXECUTIVE SECRETARY TO EXECUTIVE PRESIDENT </h1>
                        <hr color="green">
                        <h3>NAZIHA AMIN GOMBILLA</h3>
                        <p>Naziha Amin Gombilla is an aspiring Lawyer, Social Activist and Philanthropist. She is currently pursuing an LLB at the Faculty of Law of University of Professional Studies. Naziha hails from the Northern Region of Ghana, but grew
                            up in Accra. She is a very passionate change maker and has dedicated herself to make a difference in her society. In the past, Naziha worked with the Mother of all Nations Foundation, a non-profit organization dedicated to
                            catering for needy children in deprived communities. This has enabled her gain valuable experience and skills in the operations of NGOs. Naziha is passionate about Youth Leadership and interested in working in organizations
                            that are working towards bridging Africa’s development gap. In 2019, she was a participant of the Young African Leaders Summit organized by the Young Politicians and Leaders Network. She has also held several leadership positions
                            in the past (as a student), all of which have groomed and prepared her for this job. Naziha joined the Coalition for Positive Impact(CPI), as an Executive Secretary to the Executive President to work closely with senior managerial/directorial
                            staff to provide administrative support, usually on a one-to-one basis. She also helps the Executive Director to make the best use of his time by dealing with secretarial and administrative tasks.
                        </p>

                        <h1>BIOGRAPHY OF ASSISTANT DIRECTOR OF DEVELOPMENT</h1>
                        <hr color="green">
                        <h3>MOHAMMED SHABAN</h3>
                        <p>Mohammed-Shaban Tiehisung Seidu is an energetic young man, focused on helping organizations grow by providing expert knowledge on fundraising and asset acquisition. As an Assistant Director of Development, Shaban has helped CPI
                            raise funds for its events and have contributed significantly to the success of the organizations’ events and activities. He is passionate about youth development, therefore dedicating his time to supporting young people empower
                            and develop themselves in areas of leadership and entrepreneurship. Shaban joined the CPI team to bring on board his energy, experience and expertise in helping organizations and groups raise funds for their projects and programs.
                            He is currently a student of the prestigious University of Ghana, Legon where he reads Political Science. Although Shaban is still in school, he spends an adequate amount of time working on CPI activities and making sure the
                            ideas and plans of the team are successfully birthed.
                        </p>


                    </div>
                </div>

                <%- include("./partials/footer") %>
    </body>

</html>