html {
    box-sizing: border-box;
}

.content {
    margin: 1rem 10rem;
}

.content h1,
h2,
h3 {
    color: var(--primaey);
}

@media screen and (max-width: 780px) {
    .content {
        width: 46%;
        margin: 10%;
    }
    .content h1 {
        font-size: xx-large;
    }
    .content h3 {
        font-size: x-large;
    }
    .content p {
        font-size: larger;
    }
}

@media screen and (max-width: 480px) {
    .content {
        width: 90%;
        margin: 5%;
    }
    .content h1 {
        font-size: x-large;
    }
    .content h3 {
        font-size: larger;
    }
    .content p {
        font-size: smaller;
    }
}